<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ваша страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="background"> </div>
    <div class="separator"></div>
    <div class="icon"></div>
    <div class="write"></div>
    <div class = "points"></div>
    <dip class ="sportsman"></div>
    <dip class ="sportsmanh"></div>
    <div class = "inscript"></div>
    <div class = "cross2"></div>
    <div class = "inscripts"></div>
    <div class = "separator2"></div>
    <div class="button">Read more</div>
    <div class = "inscripto"></div>
    <div class = "glass"></div>
    <div class = "crossv"></div>
    <div class = "home"></div>
    <div class = "arrow"></div>
    <div class = "contact"></div>
    <div class = "location"></div>
    <div class = "about"></div>
    <div class = "inscripts1"></div>
    <div class = "button1">Join now</div>
    <div class = "star"></div>
    <div class = "range"></div>
    <div class="separatorr"></div>
    <div class = "cros"></div>
     
                  
    </div>
  </body>
</html>
